.node{
    background-color: white;
}
.node:hover{
    background-color: black;
}
  
.node-visited {
    background-color: blueviolet;
}
.node-shortest-path{
    background-color: yellow;
}
.node-wall{
    background-color: gray;
}
  
.node-start {
    background-color: green;
}

.node-finish{
    background-color: blue;
}