body{
  width: 100vw !important;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 73vh 7vh;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */
  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}
.main-body {
  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 10px 1fr 10px;
  row-gap: 2px;
  column-gap: 2px;
  grid-template-areas:
    ". . . "
    ". maingrid ."
    ". . .";
  background-color: rgb(245, 255, 253);
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}
.main-grid {
  grid-area: maingrid;
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(20, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}
footer {
  background-color: rgb(245, 255, 253);
}
header {
  background-color: rgb(245, 255, 253);
  display: grid;
  grid-template-rows: 35% 65%;
}
.header-wrapper {
  display: grid;
  background-color: rgb(44, 64, 102);
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  color: white;
  grid-template-areas: "ttl btts";
}
.title {
  grid-area: ttl;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 3vh;
  letter-spacing: 0px;
  word-spacing: 5.6px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  margin-top: auto;
  margin-bottom: auto;
}
.title p{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 700;
}
.buttons {
  margin-left: auto;
  margin-right: 5%;
  grid-area: btts;
  margin-top: auto;
  margin-bottom: auto;
}
.legend {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2vw 2vw 2vw;
  grid-template-areas:". . . . . . ."
                      ". s f p v w ."
                      ". . . . . . .";
  row-gap: 0.5vh;
  column-gap: 3vh;
  justify-content: space-evenly;
}
p{
  font-weight: 500;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1vw;
  text-align: left;
}
.s-container{
  display: grid;
  grid-template-columns: 2vw auto;
  grid-area: s;
}
.f-container{
  display: grid;
  grid-template-columns: 2vw auto;
  grid-template-rows: 2vw;
  grid-area: f;
}
.p-container{
  display: grid;
  grid-template-columns: 2vw auto;
  grid-area: p;
}
.v-container{
  display: grid;
  grid-template-columns: 2vw auto;
  grid-area: v;
}
.w-container{
  display: grid;
  grid-template-columns: 2vw auto;
  grid-area: w;
}
.finish-container{
  background-color: orange;
  width: 2vw;
  height: 2vw;
}
.start-container{
  background-color: blueviolet;
  width: 2vw;
  height: 2vw;
}
.path-container{
  background-color: yellow;
  width: 2vw;
  height: 2vw;
}
.visited-container{
  background-color: turquoise;
  width: 2vw;
  height: 2vw;
}
.wall-container{
  background-color: rgb(12, 53, 71);
  width: 2vw;
  height: 2vw;
}
button {
  height: 4.2vh;
  border: none;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 7px;
  background-color: rgb(105, 224, 214);
  color: white;
  font-size: 2.3vh;
}
button:hover {
  background-color: rgb(74, 212, 81);
}
button:active {
  background-color: cadetblue;
}
.button-erase {
  background-color: lightblue;
}
.button-erase-on {
  background-color: purple;
}
.button-inactive{
  background-color: gray !important;
}
footer{
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 6fr;
  grid-template-rows: 100%;
  grid-template-areas: ". git li .";
}
.social-links{
  font-size: 3.5vh;
}
.github{
  grid-area: git;
}
.linkedin{
  grid-area: li;
}
/* This code is subject to LICENSE in root of this repository */

/* Used to detect in JavaScript if apps have loaded styles or not. */
:root {
  --reach-dialog: 1;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

[data-reach-dialog-content] {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas: ". . ."
             ". owrap ."
             ". . .";
  width: 40vw;
  height: 70vh;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
  text-align: center;
  font-weight: 900;
  border-radius: 10px;
}
.overlay-wrapper{
  display: grid;
  grid-area: owrap ;
  grid-template-columns: 1fr;
  grid-template-rows: 5% 75% 10% 10%;
}
.overlay-wrapper img{
  margin-top: 3vh;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
}
.overlay-wrapper p{
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 3vh;
  letter-spacing: 0px;
  word-spacing: 5.6px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
}
.overlay-wrapper h{
  text-align: center;
  font-size: 2vh;
  font-weight: 550;
}
.overlay-wrapper button{
  margin-left: auto;
  margin-right: auto;
}

